 <div class="container">
        <div class="custom_nav2">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex  flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'main:home' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item {% if request.path == '/about/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'main:about' %}">About </a>
                  </li>
                  <li class="nav-item {% if request.path == '/services/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'main:services' %}">Services </a>
                  </li>
                  <li class="nav-item {% if request.path == '/pricing/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'main:pricing' %}">Pricing </a>
                  </li>
                  <li class="nav-item {% if request.path == '/contact/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'main:contact' %}">Contact Us</a>
                  </li>
                     {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                       {{user.username}}
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'main:user-dashboard' %}">Dashboard</a>
                      <a class="dropdown-item" href="{% url 'main:update-profile' %}">Profile</a>
                      <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                  </li>
                    {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:register' %}">Register</a>
                  </li>
{% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>