{% extends 'layouts/base.html'%}
{% load static %}
{% block title %}About Page {{setting.site_title}} | {{setting.site_description}}{% endblock %}
{% block content %}
 <!-- about section -->
<section class=" position-relative">
    {% include 'partials/header.html' %}
    </section>
    <!-- end slider section -->
  </div>
 <!-- Header -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          About {{setting.site_title}}
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{{setting.site_logo.url}}" alt="{{setting.site_title}}">
        </div>
        <div class="detail-box">
          <p>
            Fitness First is a global gym chain known for its comprehensive fitness facilities, group fitness classes, personal training services, and nutrition support. They offer various membership options, focus on creating a clean and safe workout environment, and often host special events and challenges. Fitness First emphasizes community, well-being, and customized fitness solutions for individuals of all fitness levels.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
{% endblock %}