{% extends 'layouts/base.html'%}
{% load static %}
{% block title %}Cancel Order {{setting.site_title}} | {{setting.site_description}}{% endblock %}
{% block content %}
<!-- about section -->
<section class=" position-relative">
    {% include 'partials/header.html' %}
    </section>
    <!-- end slider section -->
<!-- Main Start -->
    <section class="container mt-4">
         <div class="heading_container">
    	<h2 class="text-center">Cancel Payment </h2>
<!--        <p class="fs-500 text-center">plans that work for everyone</p>-->
 </div>
    </section>
<main>
    <div class="container">
        <div class="row">
            <h1>Order Cancellation Confirmation</h1>
<p>
  We're sorry to hear that you've decided to cancel your order.
  If you have any further questions or concerns, please don't hesitate to contact us at
  <a href="mailto:orders@example.com">orders@example.com</a>.
</p>

        </div>
    </div>
</main>
  </div>
 <!-- Header -->

{% endblock %}