{% extends 'layouts/base.html'%}
{% load static %}
{% block title %}Register {{setting.site_title}} | {{setting.site_description}}{% endblock %}
{% block content %}
<!-- about section -->
<section class=" position-relative">
    {% include 'partials/header.html' %}
    </section>
<!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Register</h1>
			<div class="row">
				<div class="col-md-6 offset-3">
					{% if not request.user.is_authenticated %}
					{% if message %}
					<p>{{message}}</p>
					{% endif %}
					<form method="post" action=".">
						{% csrf_token %}
						<table class="table table-bordered">
							{{form.as_table}}
							<tr>
								<td colspan="2">
									<input type="submit" class="btn btn-primary" />
								</td>
							</tr>
							<tr>
								<td colspan="2">
									If Already register Please <a href="{% url 'login' %}">Login</a>
								</td>
							</tr>
						</table>
					</form>
				{% else %}
<p>Already Login in {{user.username}}</p>
<a href="{% url 'main:home' %}">Back to Home</a>
{% endif %}
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->

{% endblock %}